@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Vazir";
  src: url("/font/Vazirmatn-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Dana";
  src: url("/font/Dana.ttf") format("truetype");
}

body {
  min-width: 360px;
  min-height: 605px;
  height: 100vh;
  background-color: #FFC453;
}
:root {
  font-family: "Dana", "Vazir", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
  /* display: flex;
  justify-content: center; */
  background-color: aliceblue;
}
